<div class="info-page-wrapper">
  <div class="navigation">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" (click)="navigateHome()"></mat-icon>
    <p class="current-page">Hello world from page '{{ href }}'</p>
  </div>
  <div class="form">
    <h3 mat-title>To fill out the card, you must enter your data</h3>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" [(ngModel)]="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <mat-select appearance="fill" (selectionChange)="substituteImage($event)">
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Info about you</mat-label>
      <textarea matInput type="text" [(ngModel)]="description"></textarea>
    </mat-form-field>
  </div>
  <div class="card">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{name}}</mat-card-title>
        <mat-card-subtitle>Active User</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="user-photo" src={{src}} alt="User Photo">
      <mat-card-content>
        <p>{{description}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>