<div [formGroup]="authForm">

    <mat-form-field class="form-item" appearance="fill">
        <mat-label>User Name</mat-label>
        <input matInput type="text" formControlName="userName" />
    </mat-form-field>

    <app-field-errors class="text-danger" [control]="authFormControl['userName']"
        [label]="'User Name'"></app-field-errors>


    <mat-form-field class="form-item" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="number" formControlName="password" />
    </mat-form-field>

    <app-field-errors class="text-danger" [control]="authFormControl['password']"
     [label]="'Password'"></app-field-errors>

</div>
