.navigate-btn {
    margin: 20px;
}
.cars {
    width: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;

    .car-container {
        display: inline-block;
        border: 5px solid rgba(181, 162, 186, 0.253);
        margin: 10px;
        padding: 10px;
    }
}