<div class="home-page-wrapper">
    <div class="tips-container">
        <h2 mat-title>Some tips to make your day better</h2>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" color="accent">
            <mat-tab label="First">Plan your day</mat-tab>
            <mat-tab label="Second">Don't forget about exercise</mat-tab>
            <mat-tab label="Third">Keep positive</mat-tab>
        </mat-tab-group>
    </div>
    <div class="page-info">
        <p class="current-page">Hello world from page '{{ href }}'</p>
        <button mat-raised-button color="accent" class="page2-btn">Page 2</button>
    </div>
</div>