.home-page-wrapper {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-image: url(../../../assets/background.jpg);
    background-size: cover;
}