// .info-page-wrapper {
//     min-height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     padding: 15px;
//     box-sizing: border-box;
//     background-image: url(../../../assets/background2.jpg);
//     .form {
//         display: flex;
//         flex-direction: column;
//         width: 300px;
//     }
//     .example-card {
//         max-width: 300px;
//         margin-bottom: 8px;
//       }
// }
// @media (min-width: 480px) {
//     .info-page-wrapper {
//         flex-direction: row;
//     }
//   }
.users {
    &-list {
        display: flex;
        .user-card {
            margin: 10px;
            width: 200px;
        }
    }
}
.user-state {
    color: red;
}
.green {
    color: green;
}
.hidden { 
    display: none;
}