.navigate-btn {
    margin: 20px;
}
.users {
    padding: 20px;
    &-list {
        display: flex;
        .user-card {
            margin: 10px;
            width: 200px;
        }
    }
}
.red {
    color: red;
}
.green {
    color: green;
}
.hidden { 
    display: none;
}