.user {
    display: inline-block;
}
.user-card {
    margin: 10px;
    width: 200px;
}
.user-img {
    display: block;
    width: 170px;
    max-height: 170px;
    margin: 0 auto;
}
.category-name {
    color: rgb(205, 6, 255);
}