<app-card (toggleItemEvent)="toggleFavorits()" [isFavorite]="isFavorite">
  <div titleData class="header">
    <p class="name"> {{ user.firstName | createFullName : user.lastName}}
      <strong>{{user.age | addExclamation}}</strong></p>
    <!-- <button mat-icon-button (click)="navigateEditPage(user.id)">
      <mat-icon>create</mat-icon>
    </button> -->
    <button mat-icon-button aria-label="Save button" (click)="save()">
      <mat-icon>save_alt</mat-icon>
    </button>

    <button mat-icon-button aria-label="Save button" (click)="saveInOrder()">
      <mat-icon>save</mat-icon>
    </button>

    <button mat-icon-button aria-label="Info button" [routerLink]="['info', user.id]">
      <mat-icon>info</mat-icon>
    </button>

  </div>
  <img imgUrl class="user-img" [src]="user.imageUrl || defaultImg" alt="User image">

  <div additionalData>
    <p><span class="category-name">Email: </span> {{user.userEmail}}</p>
    <p><span class="category-name">Gender: </span> {{user.gender | handleGender}}</p>
    <p><span class="category-name">Phone: </span> {{user.phone}}</p>
    <p *ngIf="user.department"><span class="category-name">Department: </span>{{user.department}}</p>
    <p *ngIf="user.company"><span class="category-name">Company: </span>{{user.company}}</p>
    <ng-container *ngFor="let address of user.addresses; let i = index">
      <div>
        <p class="category-name">Address:</p>
        <div>
          <p><i>Address line:</i> {{address.addressLine}}</p>
          <ng-container *ngIf="address.city">
            <p><i>City:</i> {{address.city}}; </p>
            <p><i>Zip:</i> {{address.zip}}</p>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</app-card>