.card-wrapper {
    display: inline-block;
    .card {
        margin: 10px;
        width: 240px;
        .img-wrapper {
            min-height: 175px;
        }
        .content {
            min-height: 300px;
        }
    }
}
.red {
    color: red;
}