<div class="card-wrapper">

  <mat-card class="card">

    <mat-card-header>
      <mat-card-title><ng-content select="[titleData]"></ng-content></mat-card-title>
    </mat-card-header>

    <div class="img-wrapper">
      <ng-content select="[imgUrl]"></ng-content>
    </div>

    <mat-card-content>
      <ng-content select="[additionalData]"></ng-content>
    </mat-card-content>

    <mat-card-actions>
      <button mat-icon-button aria-label="Favorite" [ngClass]="{red: isFavorite}" (click)="addToFavorits()">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>

  </mat-card>
</div>