.card-wrapper {
    display: inline-block;
    .card {
        mat-card-header {
            width: 100%;
        }
        margin: 10px;
        width: 330px;
        min-height: 705px;
        .img-wrapper {
            min-height: 175px;
        }
        .content {
            min-height: 300px;
        }
    }
}
.red {
    color: red;
}