.create-page-wrapper {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.6);
    padding: 20px;
    margin-top: 20px;
}

.create-form,
.address-form {
    width: 70%;
    margin: 0 auto;
}

.submit-btn,
.title {
    margin: 10px auto;
    display: block;
}

.invalid {
    box-shadow: 0px 0px 21px 1px rgba(216, 33, 33, 0.6);
}

.text-invalid {
    margin: 10px auto;
    color: red;
    font-size: 18px;
}