<form (ngSubmit)="saveNewUser()" class="create-page-wrapper"
    [ngClass]="{invalid: userPageForm.touched && userPageForm.invalid && isClickSubmit}">
    <h3 class="title">Create user</h3>

    <app-user-create-form [userPageForm]="userPageForm" class="create-form"></app-user-create-form>

    <button type="submit" class="submit-btn" mat-flat-button color="accent">Save</button>

    <div class="text-invalid" *ngIf="userPageForm.touched && userPageForm.invalid && isClickSubmit">
        Invalid form
    </div>

</form>