<mat-toolbar color="accent" class="header-wrapper">
    <div class="btns-wrapper">
        <button mat-button class="navigate-btn" routerLink="users">Users</button>
        <button mat-button class="navigate-btn" routerLink="create-user">Create
            user</button>
        <button mat-button class="navigate-btn" routerLink="cars">Cars</button>
    </div>

    <div class="user-space">
      <h2>{{currentUser}}</h2>
        <img src="../../../../../assets/unknown.png" alt="User photo" class="user-img">

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="menu-btn">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logOutUser()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Log out</span>
            </button>
          </mat-menu>
    </div>
</mat-toolbar>