.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.user-space {
    display: flex;
    justify-content: space-between;
}

.navigate-btn {
    margin: 10px;
}

.user-img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.menu-btn {
    vertical-align: top;
    margin-top: -5px;
}