<app-search (searchValueChange)="searchUsers($event)"></app-search>

<div class="users-page-wrapper">
    <app-user-list [users]="searchValue.length > 0 ? searchedUsers : users" [favoriteIds]="favoriteIds"
        (updateFavoriteEvent)="updateFavoriteUser($event)"></app-user-list>
    <!-- <div class="favorits-wrapper">
        <h2>My favorits users</h2>
        <app-user-list [users]="favoriteUsers" [favoriteIds]="favoriteIds"
            (updateFavoriteEvent)="updateFavoriteUser($event)"></app-user-list>
    </div> -->
</div>
<mat-paginator *ngIf="length > 10" [pageSize]="pageSize" [length]="length" [pageSizeOptions]="[5, 10, 25, 100]" (page)="paginate($event)" #paginator aria-label="Select page">
</mat-paginator>