<app-search (searchValueChange)="searchUsers($event)"></app-search>
<button mat-icon-button aria-label="Refresh button" (click)="refresh()">
    <mat-icon>refresh</mat-icon>
</button>
<button mat-icon-button aria-label="Refresh button" (click)="refresh()">
    <mat-icon>autorenew</mat-icon>
</button>

<div class="users-page-wrapper">
    <app-user-list [users]="users" [favoriteIds]="favoriteIds" (saveUserEvent)="downloadUser($event)" (saveInOrderUserEvent)="downloadInOrderUser($event)"></app-user-list>
    <!-- <div class="favorits-wrapper">
        <h2>My favorits users</h2>
        <app-user-list [users]="favoriteUsers" [favoriteIds]="favoriteIds"
            (updateFavoriteEvent)="updateFavoriteUser($event)"></app-user-list>
    </div> -->
</div>
<mat-paginator *ngIf="length > 10" [pageSize]="pageSize" [length]="length" [pageSizeOptions]="pageSizeOptions" (page)="paginate($event)" aria-label="Select page">
</mat-paginator>